body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
}
/* center the thead above the tbody */
thead {
  text-align: center;
}
thead {
  background-color: #f2f2f2;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 5px auto;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}

td {
  width: 100px;
  padding: 50px;
}

.Event {
  width: 100px;
  height: 40px;
}
.Event h5 {
  line-height: 10px;
  align-content: center;
}

img {
  height: 50px;
  width: 100px;
  object-fit: cover;
}

.pink {
  background: pink;
}
.blue {
  background: rgb(190, 219, 229);
}
.green {
  background: rgb(202, 245, 222);
} 

/* style the table into a grid that is responsive to the screen size */ 


/* for tablets */
@media (min-width: 600px) {
  thead {
    text-align: center;
  }
  tbody {
    display: grid;
    grid-template-columns: minmax(0, 1fr), 1fr;
  }
  td {
    padding: 100px;
  }
  .Event h5 {
    line-height: 30px;
    align-content: center;
  }
  img {
    height: 100px;
    width: 200px;
    object-fit: cover;
  }
}

/* for desktops */
@media (min-width: 1024px) {
    tr {
      margin: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 10px;
    }
    td {
      padding: 5em;
    }
    .Event {
      margin: 10px;
      width: 110%;
      height: 10em;
    }
    .Event h5 {
      line-height: 10px;
      align-content: center;
    }
}